{% macro flashes(app) %}
    {% set success_flashes = app.flashes('success') %}
    {% set error_flashes = app.flashes('error') %}
    {% set warning_flashes = app.flashes('warning') %}
    {% if success_flashes is not empty or error_flashes is not empty or warning_flashes is not empty %}
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    {% if success_flashes is not empty %}
                        <div class="alert alert-success">
                            {% for message in success_flashes %}
                                {{- message -}}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if error_flashes is not empty %}
                        <div class="alert alert-danger">
                            {% for message in error_flashes %}
                                {{- message -}}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if warning_flashes is not empty %}
                        <div class="alert alert-warning">
                            {% for message in warning_flashes %}
                                {{- message -}}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
