{% extends '@UserBundle/emails/layout.html.twig' %}

{% block content %}
    <h1>{{ 'user.forgot_password.email.heading'|trans({}, 'user-bundle') }}</h1>
    <p>
        {{ 'user.forgot_password.email.text'|trans({}, 'user-bundle') }}
    </p>
    {% set url = url('user_new_password', {'code': forgot_password_code}) %}
    {% set text = 'user.forgot_password.email.button'|trans({}, 'user-bundle') %}
    {% include '@UserBundle/emails/include/button.html.twig' with {'url': url, 'text': text} %}
{% endblock %}
