{% extends '@UserBundle/emails/layout.html.twig' %}

{% block content %}
    <h1>{{ 'user.new_password.email.heading'|trans({}, 'user-bundle') }}</h1>
    <p>
        {{ 'user.new_password.email.text'|trans({'password': password}, 'user-bundle')|raw }}
    </p>
    <p>
        {% set url = url('user_sign_in') %}
        {% set text = 'user.sign_in.link'|trans({}, 'user-bundle') %}
        {% include '@UserBundle/emails/include/button.html.twig' with {'url': url, 'text': text} %}
    </p>
{% endblock %}
