{% extends '@UserBundle/emails/layout.html.twig' %}

{% block content %}
    <h1>{{ 'user.new_password.email.heading'|trans({}, 'user-bundle') }}</h1>
    <p>
        {{ 'user.new_password.email.text'|trans({'password': password}, 'user-bundle') }}
    </p>
{% endblock %}
