{% extends '@UserBundle/base.html.twig' %}
{% form_theme forgot_password_form '@UserBundle/forms/form-narrow.html.twig' %}

{% block body %}
    <section>
        <div class="container d-flex flex-column">
            <div class="row">
                <div class="col-12 py-8 py-md-11">

                    <h1 class="mb-0 fw-bold">
                        {{ 'user.forgot_password.heading'|trans({}, 'user-bundle') }}
                    </h1>
                    <p class="mb-6 text-body-secondary">
                        {{ 'user.forgot_password.subtitle'|trans({}, 'user-bundle') }}
                    </p>
                    <div class="mb-6">
                        {{ form(forgot_password_form) }}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
